-c https://raw.githubusercontent.com/apache/airflow/constraints-3.0.1/constraints-3.11.txt
apache-airflow==3.0.1
black
datamodels
graphviz
openai
pandas
pip-tools
psutil
psycopg2-binary
protobuf
psycopg2
PyPDF2
python-dotenv
python-dateutil
selenium
sqlalchemy[asyncio]==1.4.54  # Airflow constraint
xlrd
urllib3
xmltodict
xlrd
scikit-learn
spacy
supervisor